.container
{ width:300px;
  height:150px;
  background-color:aqua;
  position: absolute;
  left:25px;
  top:10px;
  border: 5px solid black;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content:top;
  align-items:center;
}
.inp
{
  position:absolute;
  left:20px;
  top:80px;
  font-weight: bolder;
  font-size:15px;
}
.add
{ width:50px;
height:30px;
position: absolute;
top:77px;
left:240px;
font-size:15px;
font-weight: bolder;
}
.big-box
{ position: absolute;
top:180px;
left:10px;
display:flex;
flex-direction: column;
gap:15px;
}
.box
{ width:330px;
  height:50px;
  border:2px solid black;
  border-radius: 10px;
  background-color: green;
}
.item
{
  position:relative;
  top:-5px;
  left:27px;
  font-weight: bolder;
}
.delete
{ width:50px;
  height:30px;
  font-weight:bolder;
  position: relative;
  left: 250px;
  top:-50px;
}
.edit
{
  width:50px;
  height:30px;
  font-weight:bolder;
  position: relative;
  left: 140px;
  top:-50px;
}
.rev 
{
  position:relative;
  width:120px;
  height:30px;
  font-weight:bolder;
  left:110px;
  top:0px;
}