*{
  background-color:dodgerblue;
 color:white;
}
body{
  overflow-x:hidden;
  scroll-behavior:smooth;
  background-color:#ffffff;
}
img{
  background-color:transparent;
}
#ang{
  width:100vw;
  position:absolute;
  left:0vw;
  top:35vh;
  color:white;
  font-size:8vw;
}
#pback2{
  width:8vw;
  height:5vh;
  font-size:5vw;
  border:1vw solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:0vh;
  left:0vw;
  display:flex;
  justify-content: center;
  align-items:center;
}
#hh{
  position:absolute;
  top:72.5vh;
  left:63vw;
  width:25vw;
  height:5vh;
  font-size:4.5vw;
  font-weight:bolder;
  border-radius:5vw;
  color:white;
  background-color: black;
  border:1vw solid black;
  outline:none;
  display:flex;
  justify-content: center;
  align-items:center;
}
#bn{
  width:25vw;
  height:5vh;
  background-color: black;
  color:white;
  border-radius:5vw;
  border:1vw solid black;
  font-size:5vw;
  font-weight:bolder;
  position:absolute;
  top:85vh;
  left:39vw;
  display:flex;
  justify-content: center;
  align-items:center;
}
#re{
  width:55vw;
  position:absolute;
  top:60vh;
  left:20vw;
  font-size:6.8vw;
 font-weight:bolder;
 
}
#f{
  position:absolute;
  top:62.5vh;
  left:63vw;
  width:25vw;
  height:5vh;
  font-size:4.5vw;
  font-weight:bolder;
  border-radius:5vw;
  color:white;
  background-color: black;
  border:1vw solid black;
  outline: none;
  display:flex;
  justify-content: center;
  align-items:center;
}
#rp{
  width:65vw;
  position:absolute;
  top:70vh;
  left:9vw;
  font-size:6.8vw;
 font-weight:bolder;
 
}
#r{
  width:55vw;
  position:absolute;
  top:50vh;
  left:20vw;
  font-size:6.8vw;
 font-weight:bolder;
 
}
#g{
  width:100vw;
  height:35vh;
  position:absolute;
  top:0vh;
  left:0vw;
}
#sel{
  position:absolute;
  top:52.5vh;
  left:63vw;
  width:25vw;
  height:5vh;
  font-size:4.5vw;
  font-weight:bolder;
  border-radius:5vw;
  color:white;
  background-color: black;
  border:1vw solid black;
  outline:none;
}
#pli{
  width:15vw;
  height:10vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#cli{
  width:15vw;
  height:10vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#eli{
  width:15vw;
  height:10vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#ppo{
  position:absolute;
  top:50vh;
  left:8vw;
  font-size:7vw;
  font-weight:bolder;
  
}
#cpo{
  position:absolute;
  top:50vh;
  left:63vw;
  font-size:7vw;
  font-weight:bolder;
  
}
#anuj{
  
  font-size:7vw;
  text-decoration:underline;
  text-underline-offset:2vw;
  position:absolute;
  left:8vw;
}
#pic{
  width:50vw;
  height:30vh;
  position:absolute;
  left:25vw;
  top:40vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#b{
  width:25vw;
  height:5vh;
  color:white;
  background-color:black;
  border:1vw solid black;
  border-radius:5vw;
  font-size:5vw;
  font-weight:bolder;
  position:absolute;
  top:75vh;
  left:53vw;
}
#s{
  width:25vw;
  height:5vh;
  color:white;
  background-color:black;
  border:1vw solid black;
  border-radius:5vw;
  font-size:5vw;
  font-weight:bolder;
  position:absolute;
  top:75vh;
  left:25vw;
}
#ssubs{
  width:25vw;
  height:5vh;
  color:black;
  background-color:white;
  border:1vw solid white;
  border-radius:5vw;
  font-size:6vw;
  font-weight:bolder;
  position:absolute;
  top:24vh;
  left:27vw;
}
#subs{
  width:35vw;
  height:5vh;
  color:white;
  background-color:black;
  border:1vw solid black;
  border-radius:50vw;
  font-size:5vw;
  font-weight:bolder;
  position:absolute;
  top:60vh;
  left:32vw;
}
#computer{
  display:flex;
  flex-direction:row;
  gap:4vw;
  flex-wrap:wrap;
  position:absolute;
  top:68vh;
  left:4vw;
}
#claer{
 height:60vh;
  background-color:black;
  color:white;
  display:flex;
  justify-content:center;
  flex-direction:row;
  gap:2vw;
  flex-wrap:wrap;
  position:absolute;
  top:8vh;
  left:0vw;
  border-radius:0vw;
  border:1vw solid black;
}
#rock{
  height:0vw;
  position:relative;
  top:2vw;
  left:0vw;
}
#craid{
  position:relative;
  top:-1vh;
  font-weight:bolder;
  font-size:4.5vw;
  color:white;
  background-color:transparent;
}
#cdef{
  position:relative;
  top:-2.5vh;
  font-weight:bolder;
  font-size:4.5vw;
  color:white;
  background-color:transparent;
}
#plaer{
  display:flex;
  flex-direction:row;
  gap:2vw;
  flex-wrap:wrap;
  position:absolute;
  top:10vh;
  left:1.5vw;
}
#plaer img{
  width:14vw;
  height:10vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#player{
  display:flex;
  flex-direction: row;
  gap:4vw;
  flex-wrap:wrap;
  position:absolute;
  top:1vh;
  left:4vw;
}
#psubs{
  width:80vw;
  height:30vh;
  display:flex;
  flex-direction: row;
  gap:5vw;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  position:absolute;
  top:20vh;
  left:10vw;
  background-color:black;
  z-index:1;
  border-radius:5vw;
}
#psubsh{
  background-color:transparent;
  color:white;
  font-size:7vw;
  position:absolute;
  top:-3vw;
  left:14vw;
  z-index:1;
}
#psubs img{
  width:30vw;
  height:16vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#ppli{
  width:33vw;
  height:20vh;
  position:absolute;
  top:28vh;
  left:6vw;
}
#cpli{
  width:33vw;
  height:20vh;
  position:absolute;
  top:28vh;
  left:60vw;
}
#head{
  font-family:cursive,serif;
  font-weight:bolder;
  position:absolute;
  top:35vh;
  left:44vw;
  font-size:8vw;
}
#omp{
  position: absolute;
  left:60.5vw;
  top:21.6vh;
  font-size:6vw;
}
#ay{
  position: absolute;
  left:6vw;
  top:21.6vh;
  font-size:6vw;
}
#play-pt{
  position:absolute;
  top:45vh;
  left:20vw;
  font-size:10vw;
  font-weight:bolder;
}
#winet{
  position:absolute;
  top:47vh;
  left:38vw;
  font-weight:bolder;
  font-size:5vw;
}
#comp-pt{
  position:absolute;
  top:45vh;
  left:75vw;
  font-size:10vw;
  font-weight:bolder;
}
#est{
  position: absolute;
  left:45vw;
  top:30vh;
  font-size:6vw;
}
#restart{
  width:20vw;
  height:5vh;
  position:absolute;
  top:54vh;
  left:40vw;
  border-radius:5vw;
  background-color:black;
  color:white;
  font-size:4vw;
  font-weight:bolder;
  border:1vw solid black;
}
#toss{
  width:50vw;
  height:25vh;
  border-radius:100%;
  position: absolute;
  background-color:black;
  color:white;
  top:32vh;
  left:25vw;
  border:1vw solid black;
  font-size:15vw;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#win{
  width:45vw;
  height:5vh;
  border-radius:5vh;
  position: absolute;
  background-color:black;
  color:white;
  top:58vh;
  left:30vw;
  border:2vw solid black;
  font-size:5vw;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#sgame{
  width:45vw;
  height:5vh;
  border-radius:5vw;
  position: absolute;
  background-color:black;
  color:white;
  top:50vh;
  left:30vw;
  border:2vw solid black;
  font-size:5vw;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#kab{
  font-weight:bolder;
  font-size:7vw;
  position: absolute;
  left:25vw;
  top:-1vh;
  text-decoration:underline;
}
#list{
  width:88vw;
  height:10vh;
  font-weight:bolder;
  position:absolute;
  top:7vh;
  left:1vw;
  color:white;
  font-size:4vw;
}
#list p{
  position:relative;
  top:-1vh;
  left:5vw;
}
#fet{
  position:absolute;
  top:47vh;
  left:35vw;
  font-weight:bolder;
  font-size:6vw;
  
}
#ret{
  position:absolute;
  top:47vh;
  left:38vw;
  font-weight:bolder;
  font-size:6vw;
  
}
#rd{
  position:absolute;
  top:57vh;
  left:2vw;
  display:flex;
  gap:1vw;
  flex-direction:row;
}
#but{
  width:15vw;
  height:7vh;
  border-radius:100%;
  font-size:7vw;
  border:1vw solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
}
#get{
  position: absolute;
  top:340px;
  font-size:20px;
  left:120px;
  color:white;
}
#pback{
  width:15vw;
  height:7vh;
  border-radius:100%;
  font-size:8vw;
  border:1vw solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:75vh;
  left:45vw;
}
#player-score{
  width:35vw;
  height:4vh;
  border-radius:5vw;
  font-size:3vw;
  border:1vw solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:60vh;
  left:15vw;
}
#computer-score{
  width:35vw;
  height:4vh;
  border-radius:5vw;
  font-size:3vw;
  border:1vw solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:60vh;
  left:55vw;
}
