@media (max-width:649px){
#ang{
  width:410px;
  position:relative;
  left:0px;
  top:255px;
  color:black;
  text-decoration:underline;
  text-underline-offset:10px;
  color:white;
}
#pback2{
  width:30px;
  height:30px;
  border-radius:100px;
  font-size:20px;
  border:2px solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:0px;
  left:357px;
}
#up{
  background-color:black;
  color:white;
  border:2px solid black;
  position:absolute;
  top:798px;
  font-weight:bolder;
  left:325px;
}
#f{
  position:absolute;
  top:560px;
}
#hh{
  position:absolute;
  top:539px;
  left:255px;
  width:80px;
  height:30px;
  font-size:15px;
  font-weight:bolder;
  border-radius:25px;
  color:white;
  background-color: black;
  border:2px solid black;
  outline:none;
}
#bn{
  width:80px;
  height:30px;
  background-color: black;
  color:white;
  border-radius:25px;
  border:2px solid black;
  font-size:20px;
  font-weight:bolder;
  position:absolute;
  top:625px;
  left:180px;
}
#hr{
  position:absolute;
  top:950px;
}
#re{
  width:150px;
  position:absolute;
  top:430px;
  left:85px;
 font-weight:bolder;
 color:white;
}
#f{
  position:absolute;
  top:449px;
  left:255px;
  width:80px;
  height:30px;
  font-size:15px;
  font-weight:bolder;
  border-radius:25px;
  color:white;
  background-color: black;
  border:2px solid black;
  outline: none;
}
#rp{
  width:250px;
  position:absolute;
  top:520px;
  left:50px;
 font-weight:bolder;
 color:white;
}
#r{
  width:150px;
  position:absolute;
  top:348px;
  left:85px;
 font-weight:bolder;
 color:white;
}
#g{
  width:410px;
  height:235px;
  position:absolute;
  top:0px;
  overflow-x:hidden;
}
#sel{
  position:absolute;
  top:367px;
  left:255px;
  width:80px;
  height:30px;
  font-size:15px;
  font-weight:bolder;
  border-radius:25px;
  color:white;
  background-color: black;
  border:2px solid black;
  outline:none;
}
#pli{
  width:60px;
  height:80px;
  position:relative;
  top:0px;

}
body{
  background-color:dodgerblue;
  overflow:hidden;
}
#cli{
  width:60px;
  height:80px;
}
#eli{
  width:60px;
  height:80px;
}
#lis{
  width:60px;
  height:80px;
  position:relative;
  top:0px;
}

#psli{
  width:50px;
  height:70px;
}
#sus{
  width:80px;
  height:30px;
  color:white;
  background-color:black;
  border:2px solid black;
  border-radius:25px;
  font-size:15px;
  font-weight:bolder;
  position:absolute;
  top:120px;
  left:235px;
}
#ppo{
  position:absolute;
  top:380px;
  left:10px;
  font-size:25px;
  font-weight:bolder;
  color:white;
}
#cpo{
  position:absolute;
  top:380px;
  left:230px;
  font-size:25px;
  font-weight:bolder;
  color:white;
}
#anuj{
  color:white;
  font-size:25px;
  text-decoration:underline;
  text-underline-offset:10px;
  position:absolute;
  left:35px;
}
#pic{
  width:130px;
  height:150px;
  position:absolute;
  left:110px;
  top:410px;
  background-color:green;
}
#b{
  width:80px;
  height:30px;
  color:white;
  background-color:black;
  border:2px solid black;
  border-radius:25px;
  font-size:15px;
  font-weight:bolder;
  position:absolute;
  top:570px;
  left:185px;
}
#start{
  width:80px;
  height:30px;
  color:white;
  background-color:black;
  border:2px solid black;
  border-radius:25px;
  font-size:15px;
  font-weight:bolder;
  position:absolute;
  top:570px;
  left:135px;
}
#s{
  width:80px;
  height:30px;
  color:white;
  background-color:black;
  border:2px solid black;
  border-radius:25px;
  font-size:15px;
  font-weight:bolder;
  position:absolute;
  top:570px;
  left:85px;
}
#ssubs{
  width:120px;
  height:30px;
  color:black;
  background-color:white;
  border:2px solid white;
  border-radius:25px;
  font-size:20px;
  font-weight:bolder;
  position:absolute;
  top:150px;
  left:45px;
}
#subs{
  width:120px;
  height:30px;
  color:white;
  background-color:black;
  border:2px solid black;
  border-radius:25px;
  font-size:15px;
  font-weight:bolder;
  position:absolute;
  top:440px;
  left:110px;
}
#computer{
  display:flex;
  flex-direction:row;
  gap:10px;
  flex-wrap:wrap;
  position:absolute;
  top:485px;
  left:10px;
}
#claer{
 height:705px;
  background-color:black;
  color:white;
  display:flex;
  justify-content:center;
  flex-direction:row;
  gap:5px;
  flex-wrap:wrap;
  position:absolute;
  top:0px;
  left:0px;
  border-radius:0px;
  border:2px solid black;
}
#rock{
  height:0px;
  position:relative;
  top:19px;
  left:0px;
}
#craid{
  position:relative;
  top:-13px;
  font-weight:bolder;
}
#cdef{
  position:relative;
  top:-25px;
  font-weight:bolder;
}
#plaer{
  display:flex;
  flex-direction:row;
  gap:10px;
  flex-wrap:wrap;
  position:absolute;
  top:70px;
  left:10px;
}
#player{
  display:flex;
  flex-direction: row;
  gap:10px;
  flex-wrap:wrap;
  position:absolute;
  top:1px;
  left:10px;
}
#psubs{
  width:200px;
  height:200px;
  display:flex;
  flex-direction: row;
  gap:30px;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  position:absolute;
  top:230px;
  left:75px;
  background-color:black;
  z-index:1;
  border-radius:25px;
}
#psubsh{
  color:white;
  position:absolute;
  top:0px;
  left:7px;
  z-index:1;
}
#ppli{
  width:130px;
  height:150px;
  position:absolute;
  top:215px;
  left:10px;
}
#cpli{
  width:130px;
  height:150px;
  position:absolute;
  top:215px;
  left:210px;
}
#ct{
  color:white;
  position: absolute;
  top:-20px;
  left:160px;
  font-size:20px;
  z-index:1;
}
#head{
  font-family:cursive,serif;
  font-weight:bolder;
  position:absolute;
  top:300px;
  left:150px;
  color:white;
}
#gh{
  position: absolute;
  top:700px;
}
#omp{
  position: absolute;
  left:215px;
  top:160px;
  color:white;
}
#ay{
  position: absolute;
  left:15px;
  top:160px;
  color:white;
}
#play-pt{
  position:absolute;
  top:360px;
  left:55px;
  font-size:30px;
  color:white;
  font-weight:bolder;
}
#comp-pt{
  position:absolute;
  top:360px;
  left:260px;
  font-size:30px;
  font-weight:bolder;
  color:white;
}
#yw{
  width:250px;
  height:150px;
  background-color:black;
  color:white;
  position:absolute;
  top:200px;
  left:55px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:35px;
  font-weight:bolder;
  border-radius:25px;
}
#est{
  position: absolute;
  left:155px;
  top:260px;
  font-size:25px;
  color:white;
}
#restart{
  width:80px;
  height:30px;
  position:absolute;
  top:410px;
  left:130px;
  border-radius:25px;
  background-color:black;
  color:white;
  font-size:15px;
  font-weight:bolder;
  border:2px solid black;
}
#toss{
  width:155px;
  height:155px;
  border-radius:100%;
  position: absolute;
  background-color:black;
  color:white;
  top:240px;
  left:100px;
  border:2px solid black;
  font-size:45px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#wins{
  width:130px;
  height:30px;
  border-radius:25px;
  position: absolute;
  background-color:black;
  color:white;
  top:450px;
  left:110px;
  border:2px solid black;
  font-size:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#win{
  width:130px;
  height:30px;
  border-radius:25px;
  position: absolute;
  background-color:black;
  color:white;
  top:400px;
  left:150px;
  border:2px solid black;
  font-size:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#select-contain{
  width:250px;
  position:absolute;
  top:-25px;
}
#sgame{
  width:130px;
  height:30px;
  border-radius:25px;
  position: absolute;
  background-color:black;
  color:white;
  top:450px;
  left:150px;
  border:2px solid black;
  font-size:19px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#comm{
  width:130px;
  height:30px;
  border-radius:25px;
  position: absolute;
  background-color:black;
  color:white;
  top:550px;
  left:110px;
  border:2px solid black;
  font-size:19px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bolder;
}
#kab{
  color:white;
  font-weight:bolder;
  font-size:25px;
  position: absolute;
  left:85px;
  top:-15px;
  text-decoration:underline;
}
#list{
  width:350px;
  font-weight:bolder;
  position:absolute;
  top:30px;
  left:-15px;
  color:white;
  font-size:14px;
}
#fet{
  position:absolute;
  top:360px;
  left:120px;
  font-weight:bolder;
  font-size:20px;
  color:white;
}
#ret{
  position:absolute;
  top:360px;
  left:135px;
  font-weight:bolder;
  font-size:20px;
  color:white;
}
#rd{
  position:absolute;
  top:420px;
  left:2px;
  display:flex;
  gap:4px;
  flex-direction:row;
}
#but{
  width:55px;
  height:55px;
  border-radius:100px;
  font-size:30px;
  border:2px solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
}
#get{
  position: absolute;
  top:340px;
  font-size:20px;
  left:120px;
  color:white;
}
#pback{
  width:20px;
  height:20px;
  border-radius:100px;
  font-size:20px;
  border:2px solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:0px;
  left:335px;
}
#player-score{
  width:150px;
  height:25px;
  border-radius:25px;
  font-size:13px;
  border:2px solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:450px;
  left:20px;
}
#computer-score{
  width:150px;
  height:25px;
  border-radius:25px;
  font-size:13px;
  border:2px solid black;
  background-color:black;
  color:white;
  font-weight:bolder;
  position:absolute;
  top:450px;
  left:180px;
}
}
@media (min-width:1000px)
{
  body{
    background-color:dodgerblue;
    overflow: hidden;
  }
  #g{
    width:640px;
    height:645px;
    position:absolute;
    top:0px;
    left:0px;
    opacity:1;
    
  }
  #ang{
    position:absolute;
    left:650px;
    top:0px;
    text-decoration:underline;
    text-underline-offset:10px;
    color:white;
    font-size:60px;
    z-index: 1;
  }
  #sgame{
    width:350px;
    height:100px;
    border-radius:25px;
    position: absolute;
    background-color:white;
    color:black;
    top:350px;
    left:850px;
    border:2px solid white;
    font-size:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bolder;
    z-index:1;
  }
  #win{
    width:350px;
    height:100px;
    border-radius:25px;
    position: absolute;
    background-color:white;
    color:black;
    top:200px;
    left:850px;
    border:2px solid white;
    font-size:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bolder;
  }
  #kab{
    color:black;
    font-weight:bolder;
    position: absolute;
    left:455px;
    top:-10px;
    text-decoration:underline;
    font-size:45px;
  }
  #list{
    font-weight:bolder;
    font-size:20px;
    position:absolute;
    top:90px;
    left:0px;
    color:black;
  }
  #pback2{
    width:50px;
    height:50px;
    border-radius:100px;
    font-size:30px;
    border:2px solid black;
    background-color:black;
    color:white;
    font-weight:bolder;
    position:absolute;
    top:570px;
    left:600px;
  }
  #sel{
    position:absolute;
    top:277px;
    left:1050px;
    width:150px;
    height:50px;
    font-size:25px;
    font-weight:bolder;
    border-radius:25px;
    color:white;
    background-color: black;
    border:2px solid black;
    outline:none;
  }
  #hh{
    position:absolute;
    top:477px;
    left:1050px;
    width:150px;
    height:50px;
    font-size:25px;
    font-weight:bolder;
    border-radius:25px;
    color:white;
    background-color: black;
    border:2px solid black;
    outline:none;
  }
  #f{
    position:absolute;
    top:379px;
    left:1050px;
    width:150px;
    height:50px;
    font-size:25px;
    font-weight:bolder;
    border-radius:25px;
    color:white;
    background-color: black;
    border:2px solid black;
    outline: none;
  }
  #re{
    width:345px;
    position:absolute;
    top:340px;
    left:780px;
   font-weight:bolder;
   color:white;
   font-size: 40px;
  }
  #rp{
    width:345px;
    position:absolute;
    top:439px;
    left:710px;
   font-weight:bolder;
   color:white;
   font-size: 40px;
  }
  #r{
    width: 345px;
    position:absolute;
    top:239px;
    left:780px;
   font-weight:bolder;
   color:white;
   font-size:40px;
  }
  #bn{
    width:150px;
    height:50px;
    background-color: black;
    color:white;
    border-radius:25px;
    border:2px solid black;
    font-size:25px;
    font-weight:bolder;
    position:absolute;
    top:585px;
    left:950px;
  }
  #anuj{
    color:black;
    font-size:45px;
    text-decoration:underline;
    text-underline-offset:10px;
    position:absolute;
    left:455px;
  }
  #plaer{
    display:flex;
    flex-direction:row;
    gap:20px;
    flex-wrap:wrap;
    position:absolute;
    top:120px;
    left:60px;
  }
  #lis{
    width:120px;
    height:140px;
    position:relative;
    top:0px;
  }
  #pic{
    width:230px;
    height:250px;
    position:absolute;
    left:890px;
    top:300px;
    background-color:green;
  }
  #b{
    width:100px;
    height:30px;
    color:white;
    background-color:black;
    border:2px solid black;
    border-radius:25px;
    font-size:20px;
    font-weight:bolder;
    position:absolute;
    top:570px;
    left:1020px;
  }
  #s{
    width:100px;
    height:30px;
    color:white;
    background-color:black;
    border:2px solid black;
    border-radius:25px;
    font-size:20px;
    font-weight:bolder;
    position:absolute;
    top:570px;
    left:900px;
  }
  #computer{
    display:flex;
    flex-direction:row;
    gap:25px;
    flex-wrap:wrap;
    position:absolute;
    top:520px;
    left:60px;
  }
  #pli{
    width:100px;
    height:120px;
    position:relative;
    top:20px;
  
  }
  #cli{
    width:100px;
    height:120px;
    position:relative;
    top:-20px;
  }
  #player{
    display:flex;
    flex-direction: row;
    gap:25px;
    flex-wrap:wrap;
    position:absolute;
    top:0px;
    left:60px;
  }
  #toss{
    width:155px;
    height:155px;
    border-radius:100%;
    position: absolute;
    background-color:black;
    color:white;
    top:220px;
    left:600px;
    border:2px solid black;
    font-size:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bolder;
  }
  #omp{
    position: absolute;
    left:800px;
    top:130px;
    color:white;
    font-size:25px;
    font-weight:bolder;
  }
  #ay{
    position: absolute;
    left:350px;
    top:130px;
    color:white;
  }
  #ppli{
    width:130px;
    height:150px;
    position:absolute;
    top:205px;
    left:350px;
  }
  #cpli{
    width:130px;
    height:150px;
    position:absolute;
    top:205px;
    left:800px;
   
  }
  #head{
    font-family:cursive,serif;
    font-weight:bolder;
    position:absolute;
    top:220px;
    left:600px;
    color:white;
  }
  #est{
    position: absolute;
    left:605px;
    top:160px;
    font-size:35px;
    color:white;
  }
  #fet{
    position:absolute;
    top:250px;
    left:540px;
    font-weight:bolder;
    font-size:30px;
    color:white;
  }
  #ret{
    position:absolute;
    top:250px;
    left:560px;
    font-weight:bolder;
    font-size:30px;
    color:white;
  }
  #play-pt{
    position:absolute;
    top:330px;
    left:400px;
    font-size:35px;
    color:white;
    font-weight:bolder;
  }
  #comp-pt{
    position:absolute;
    top:330px;
    left:850px;
    font-size:35px;
    font-weight:bolder;
    color:white;
  }
  #ppo{
    position:absolute;
    top:350px;
    left:350px;
    font-size:30px;
    font-weight:bolder;
    color:white;
  }
  #cpo{
    position:absolute;
    top:350px;
    left:800px;
    font-size:30px;
    font-weight:bolder;
    color:white;
  }
  #subs{
    width:150px;
    height:30px;
    color:white;
    background-color:black;
    border:2px solid black;
    border-radius:25px;
    font-size:20px;
    font-weight:bolder;
    position:absolute;
    top:400px;
    left:550px;
  }
  #rd{
    position:absolute;
    top:400px;
    left:460px;
    display:flex;
    gap:4px;
    flex-direction:row;
  }
  #but{
    width:55px;
    height:55px;
    border-radius:100px;
    font-size:30px;
    border:2px solid black;
    background-color:black;
    color:white;
    font-weight:bolder;
  }
  #psubs{
    width:400px;
    height:280px;
    display:flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    position:absolute;
    top:150px;
    left:435px;
    background-color:black;
    z-index:1;
    border-radius:25px;
  }
  #psubsh{
    color:white;
    position:absolute;
    top:20px;
    left:97px;
    z-index:1;
  }
  #ssubs{
    width:120px;
    height:30px;
    color:black;
    background-color:white;
    border:2px solid white;
    border-radius:25px;
    font-size:20px;
    font-weight:bolder;
    position:absolute;
    top:230px;
    left:130px;
  }
  #restart{
    width:100px;
    height:30px;
    position:absolute;
    top:340px;
    left:570px;
    border-radius:25px;
    background-color:black;
    color:white;
    font-size:20px;
    font-weight:bolder;
    border:2px solid black;
  }
  #player-score{
    width:250px;
    height:30px;
    border-radius:25px;
    font-size:15px;
    border:2px solid black;
    background-color:black;
    color:white;
    font-weight:bolder;
    position:absolute;
    top:390px;
    left:500px;
  }
  #computer-score{
    width:250px;
    height:30px;
    border-radius:25px;
    font-size:15px;
    border:2px solid black;
    background-color:black;
    color:white;
    font-weight:bolder;
    position:absolute;
    top:430px;
    left:500px;
  }
  #claer{
    height:350px;
    width:560px;
     background-color:black;
     color:white;
     display:flex;
     justify-content:center;
     flex-direction:row;
     gap:10px;
     flex-wrap:wrap;
     position:absolute;
     top:140px;
     left:360px;
     border-radius:0px;
     border:2px solid black;
   }
   #pback{
    width:50px;
    height:50px;
    border-radius:100px;
    font-size:30px;
    border:2px solid black;
    background-color:black;
    color:white;
    font-weight:bolder;
    position:absolute;
    top:540px;
    left:600px;
  }
}
