.calculator
{ width:300px;
 height:380px;
 background-color: black;
 position:absolute;
 top:50px;
 left:35px;
 border-radius:15px;
}
.inp 
{ width:300px;
 height:100px;
 background-color:aqua;
 border-radius:15px;
 position:relative;
 top:10px;
 display:flex;
 justify-content:center;
 align-items:left;
overflow: auto;
}
.inp h1
{  overflow: auto;
  width:300px;
 height:100px;
  font-size:30px;
  color:black;
  position:relative;
  top:13px;
  left:15px;
}
.buttons
{ display: flex;
 flex-wrap:wrap;
  position: absolute;
  top:120px;
}
.buttons button
{
  width:60px;
  height:60px;
  font-size:25px;
  font-weight: bolder;
}