#container{
  width:505px;
  height:150px;
  display: flex;
  flex-wrap:none;
  gap:5px;
  position: absolute;
  left:0px;
  top:0px;
  background-color:orange;
}
#rest{
  width:505px;
  height:2000px;
  background-color: green;
}
#op{
  
  
  position:absolute;
  left:75px;
  top:-5px;
  font-weight:bolder;
  font-size:35px;
  font-style:sans-serif;
  text-decoration:underline;
}
#bn{
  position:relative;
  top:80px;
  left:0px;
  width:200px;
  height:50px;
  border-radius:25px;
  font-size:20px;
  font-weight:bolder;
  border:2px solid black;
  color:white;
  background-color:black;
}

#image-containers{
  width:505px;
  height:0px;
  position: absolute;
  top:150px;
  left:0px;
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  gap:20px
}
#image-container{
  width:230px;
  height:350px;
  position: relative;
  left:5px;
  top:15px;
  background-color:black;
  color:white;
  border-radius:15px;
}
#name{
  position:relative;
  top:50px;
  left:20px;
  font-size:25px;
}
#image{
  width:200px;
  height:200px;
  position:relative;
  top:50px;
  left:15px;
  border-radius:15px;
}